header {
	padding: 55px;
}

.container1 {
	width: 1440px;
	margin: 0 auto;
}

.container2 {
	width: 1052px;
	margin: 0 auto;
}

.htmllogo {
	margin-right: 60px;
	vertical-align: middle;
}

nav {
	display: inline-block;
	vertical-align: middle;
}

li {
	display: inline-block;
	margin-right: 87px;
}

a {
	color: #8D81FF;
	font-family: FiraGO;
	font-size: 26px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.active {
	color: #4E6FAE;
}

.date {
	color: #84FF81;
	font-family: Helvetica;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	color: #84FF81;
	background: #5012D5;
	width: 50px;
	height: 50px;
	padding: 10px;
	margin-bottom: 18px;
}

.mnth {
	color: #8D81FF;
	font-family: "BPG Nino Mkhedruli";
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 8px;
}

.topic {
	color: #4E6FAE;
	font-family: "ALK Rounded Mtav Med";
	font-size: 20px;
	font-style: normal;
	font-weight: 590;
	line-height: normal;
	margin-bottom: 13px;
}

.code {
	margin-right: 65px;
	margin-bottom: 150px;
}

.symbols {
	margin-right: 65px;
	margin-bottom: 150px;
}

.computer {
	margin-bottom: 32px;
}

.pdiv {
	width: 778px;
	height: 353px;
	color: #4E6FAE;
	font-family: "ALK Rounded Mtav Med";
	font-size: 15px;
	font-style: normal;
	font-weight: 590;
	line-height: normal;
	display: inline-block;
	vertical-align: top;
}

.pdiv2 {
	width: 778px;
	height: 353px;
	color: #4E6FAE;
	font-family: "ALK Rounded Mtav Med";
	font-size: 14px;
	font-style: normal;
	font-weight: 590;
	line-height: normal;
	
}

.pbtm {
	margin-bottom: 30px;
}

.fb {
	margin-right: 32px;
	margin-bottom: 250px;
}

.line {
	margin-right: 32px;
	margin-bottom: 250px;
}

.yt {
	margin-right: 32px;
	margin-bottom: 250px;
}

.htmlbanner {
	margin-bottom: 120px;
}

.news {
	color: #4E6FAE;
	font-family: FiraGO;
	font-size: 26px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	display: inline-block;
	margin-right: 18px;
	margin-bottom: 23px;
}

.stick {
	background: #5012D5;
	display: inline-block;
	width: 2px;
	height: 24px;
	margin-right: 18px;
	vertical-align: bottom;
	margin-bottom: 25px;
}

.dtls {
	color: #4E6FAE;
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	display: inline-block;
	margin-bottom: 23px;
}

.card1 {
	width: 500px;
	height: 192px;
	background: #E7E7E7;
	margin-right: 45px;
	padding: 20px;
	display: inline-block;
	margin-bottom: 90px;
}

.card2 {
	display: inline-block;
	width: 500px;
	height: 192px;
	background: #E7E7E7;
	padding: 20px;
	vertical-align: top;
	margin-bottom: 90px;
}

.cardh {
	color: #3F4145;
	font-family: Roboto;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 20px;
}

.search {
	margin-right: 37px;
	display: inline-block;
}

.img {
	margin-right: 30px;
	display: inline-block;

}

.cardp {
	display: inline-block;
	color: #7E8898;
	font-family: Roboto;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	width: 335px;
	vertical-align: top;
}

.cardp2 {
		display: inline-block;
		color: #7E8898;
		font-family: Roboto;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		width: 335px;
		vertical-align: top;

}


.fb2 {
	margin-right: 32px;
	margin-bottom: 150px;
}

.line2 {
	margin-right: 32px;
	margin-bottom: 150px;
}

.yt2 {
	margin-right: 32px;
	margin-bottom: 150px;
}